/* =====================================
  Bootstrap media queries
======================================*/

/* extra large devices (laptop & desktop) */

@media (min-width:1200px) {
  /* event guests */
  .main-guest {
    margin: 10px 20px 45px 30px;
  }

  .guest-right {
    margin-left: 25px;
  }

  .other-guest{
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    margin: 45px;
    position: relative;
  }
}

/* large devices (laptop & desktop) */

@media (min-width: 992px) and (max-width: 1199px) {
  #logo img {
    height: 50px;
    margin-bottom: 5px;
  }

  .other-guest{
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin: 50px;
  }
}

/* medium devices (tablets) */

@media (min-width: 768px) and (max-width: 991px) {
  /* Navbar */
  #logo img {
    height: 45px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    font-size: 30px ;
  }
  /* Navbar */
  .site-new-wrapper {
    padding: 0;
  }
  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    font-size: 18px;
    margin: 10px 0 10px 30px;
    color: #212226;
  }

  /* general */

  .content-box-lg {
    padding: 96px 0;
  }
  .content-box-md {
    padding: 80px 0;
  }

  /* about */
  #about-body p {
    font-size: 12px;
  }

  #about-info {
    margin: 45px 0;
  }

  .about-events-title h3 {
    color: #E03838;
    font-size: 16px;
  }

  .about-events-title h4 {
    color: #ffffff;
    font-size: 18px;
  }


  /* events */
  .event-summary p {
    font-size: 12px;
  }

  #event-02 h2{
    line-height: 50px;
  }

  /* organizers */
  #main-organizers h3{
    font-size: 18px;
  }

  #backups h5 {
    font-size: 15px;
  }

}

/* small devices */

@media (min-width: 576px) and (max-width: 767px) {
  /* Navbar */
  #logo img {
    height: 40px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    font-size: 28px ;
  }

  .site-new-wrapper {
    padding: 0;
  }

  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    margin: 10px 0 10px 30px;
    color: #212226;
  }

  /* general */

  .content-box-lg {
    padding: 96px 0;
  }
  .content-box-md {
    padding: 80px 0;
  }

  /* home */
  #home-heading {
    margin: 45px 0 0 0;
  }

  #home-heading h1 {
    font-size: 40px;
  }

  /* about */
  #about-body p {
    font-size: 10px;
    line-height: 20px;
    margin: 0 8px 8px 8px;
  }

  .about-events-title h4 {
    font-size: 13px;
  }

  .about-events-title h5 {
    font-size: 11px;
  }

  /* map */
  #map {
    height: 300px;
    width: 100%;
  }

  /* Events */
  .event-summary p {
    font-size: 10px;
    line-height: 20px;
    margin: 3px 8px 3px 8px;
  }

  .event-summary h2 {
    font-size: 26px;
  }

  /* Guests */
  .guests h4 {
    font-size: 16px;
  }

  .guests h3 {
    font-size: 18px;
  }

  .guests h2 {
    font-size: 22px;
  }

  .guests p {
    font-size: 12px;
  }

  .guest-icon-lg {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
  }

  .other-guest{
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    margin: 25px;
  }

  .guest-info {
    height: 100%;
    width: 100%;
    padding: 40px 10px;
  }

  /* Organizers */
  #backups h4 {
    margin-bottom: 15px;
  }

  #supporters img {
    height: 45px;
  }

  #supporters h5 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  #supporters h6 {
    font-size: 10px;
  }

  /* Contact */

  ul.contact-info li {
    display: block;
    margin-bottom: 25px;
  }
}

/* extra small devices (phones) */
@media (min-width: 321px) and (max-width: 575px) {

  .site-new-wrapper {
    padding: 0;
  }

  /* navbar */
  #logo img {
    height: 32px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    font-size: 22px;
  }

  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    margin: 10px 0 10px 20px;
    color: #212226;
  }

  .content-box-lg {
    padding: 35px 0;
  }
  .content-box-md {
    padding: 30px 0;
  }

  .heading {
    margin: 0 0 0 12px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .btn-back-to-top {
    bottom: 25px;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 13px;
  }

  /* home */
  #home-heading h1 {
    font-size: 45px;
  }

  /* about */
  #about-copy h2 {
    font-size: 22px;
  }

  #about-body p {
    font-size: 8px;
    line-height: 18px;
    margin: 0;
  }

  #about-info h3 {
    font-size: 16px;
  }

  #about-info h4 {
    font-size: 12px;
  }


  .about-events-title h4 {
    font-size: 13px;
  }

  .about-events-title h5 {
    font-size: 11px;
  }

  /* map */
  #map {
    height: 250px;
    width: 100%;
  }

  /* Events */
  .event-summary h2 {
    font-size: 18px;
  }

  .event-summary p {
    font-size: 10px;
    line-height: 16px;
    margin: 3px 0;
  }

  #event-01 .heading h4, #event-02 .heading h4, #event-03 .heading h4{
    font-size: 11px;
  }

  #event-01 .heading h3, #event-02 .heading h3, #event-03 .heading h3{
    font-size: 13px;
  }

  #event-02 .event-summary h3 {
    font-size: 14px;
  }

  #wakazo-presentation h3 {
    font-size: 14px;
  }

  /* Guests */
  .guests h4 {
    font-size: 11px;
  }

  .guests h3 {
    font-size: 11px;
  }

  .guests h2 {
    font-size: 15px;
  }

  .guests h2 span {
    font-size: 11px;
  }

  .guests p {
    font-size: 9px;
    line-height: 15px;
  }

  .guest-right {
    margin: 0;
  }

  .guest-icon-lg {
    max-width: 110px;
    max-height: 110px;
    min-width: 110px;
    min-height: 110px;
  }

  .other-guest{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
  }

  .guest-info {
    padding: 45px 10px;
  }

  .guest-info h6 {
    font-size: 11px;
    line-height: 13px;
  }

  .guest-info h6 span {
    font-size: 8px;
  }

  .guest-info p {
    color: #E03838;
    font-size: 8px;
    line-height: 10px;
  }

  /* shedule */
  #time-table {
    margin-top: 10px;
  }

  #time-table h5 {
    font-size: 13px;
  }

  #time-table h6 {
    font-size: 11px;
  }

  /* organizers */
  #organizers h3{
    font-size: 18px;
  }

  #organizers h4{
    font-size: 16px;
  }

  #organizers h5{
    font-size: 14px;
  }

  #main-organizer-logo img {
    height: 90px;
  }

  #main-organizers h3{
    font-size: 11px;
  }

  #backups h5 {
    font-size: 11px;
    line-height: 15px;
  }

  #supporters img {
    height: 30px;
  }


  #supporters h6 {
    font-size: 6px;
  }

  /* Tickets */
  #tickets-table h4 {
    font-size: 11px;
  }

  /* Contact */
  #contact p {
    font-size: 11px;
  }

  /* footer */
  footer p {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  #logo img {
    height: 30px;
    margin-bottom: 5px;
  }

  .navbar {
    padding: 5px 0 0 0;
  }

  .navbar-toggler {
    font-size: 18px ;
  }

  ul.navbar-nav {
    background: #fff;
    opacity: 0.9;
    padding: 10px 0 30px 0;
  }
  ul.navbar-nav>li>a {
    margin: 10px 0 10px 20px;
    color: #212226;
  }

  .content-box-lg {
    padding: 30px 0;
  }
  .content-box-md {
    padding: 25px 0;
  }

  .btn-general {
    font-size: 11px;
    padding: 8px 24px;
  }

  .btn-back-to-top {
    bottom: 25px;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 13px;
  }

  .heading {
    margin: 0 0 0 10px;
  }

  .heading h2 {
    font-size: 22px;
  }

  /* home */
  #home-heading h1 {
    font-size: 45px;
  }

  /* about */
  #about-copy h2 {
    font-size: 22px;
  }

  #about-body p {
    font-size: 10px;
    line-height: 15px;
    margin: 0;
  }

  #about-info h3 {
    font-size: 16px;
  }

  #about-info h4 {
    font-size: 10px;
  }


  .about-events-title h4 {
    font-size: 13px;
  }

  .about-events-title h5 {
    font-size: 11px;
  }

  /* map */
  #map {
    height: 200px;
    width: 100%;
  }

  /* Events */
  .event-summary h2 {
    font-size: 16px;
  }

  .event-summary p {
    font-size: 8px;
    line-height: 18px;
    margin:  0;
  }

  #event-01 .heading h4, #event-02 .heading h4, #event-03 .heading h4{
    font-size: 10px;
  }

  #event-01 .heading h3, #event-02 .heading h3, #event-03 .heading h3{
    font-size: 12px;
    line-height: 24px;
  }

  #event-02 .event-summary h3 {
    font-size: 14px;
  }

  #wakazo-presentation h3 {
    font-size: 14px;
  }

  /* Guests */
  .guests h4 {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .guests h3 {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .guests h2 {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .guests h2 span {
    font-size: 10px;
  }

  .guests p {
    font-size: 8px;
    line-height: 13px;
  }

  .guest-right {
    margin: 0;
    padding: 0 0 0 7px;
  }

  .guest-icon-lg {
    max-width: 88px;
    max-height: 88px;
    min-width: 88px;
    min-height: 88px;
  }

  .other-guest{
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
  }

  .guest-info {
    padding: 30px 10px;
  }

  .guest-info h6 {
    font-size: 10px;
    line-height: 12px;
  }

  .guest-info h6 span {
    font-size: 7px;
  }

  .guest-info p {
    color: #E03838;
    font-size: 6px;
    line-height: 8px;
  }

  /* shedule */
  #time-table {
    margin-top: 10px;
  }

  #time-table h5 {
    font-size: 13px;
  }

  #time-table h6 {
    font-size: 11px;
  }

  /* organizers */
  #organizers h3{
    font-size: 18px;
  }

  #organizers h4{
    font-size: 16px;
  }

  #organizers h5{
    font-size: 14px;
  }

  #main-organizer-logo img {
    height: 80px;
  }

  #main-organizers h3{
    font-size: 9px;
  }

  #backups h5 {
    font-size: 10px;
    line-height: 15px;
  }

  #supporters img {
    height: 24px;
  }


  #supporters h6 {
    font-size: 7px;
  }

  /* Tickets */
  #tickets-table h4 {
    font-size: 11px;
  }

  /* Contact */
  #contact p {
    font-size: 11px;
  }

  /* footer */
  footer p {
    font-size: 8px;
  }
}
